/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Karla'; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

p, ul li a {
  font-family: 'Karla'; }

.headingPrimary {
  font-size: 8rem;
  font-family: 'DM Serif Display', serif;
  letter-spacing: -1px;
  color: #FFFFFF;
  font-weight: 700;
  display: block;
  line-height: .88; }
  @media only screen and (max-width: 75em) {
    .headingPrimary {
      font-size: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .headingPrimary {
      font-size: 8rem;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .headingPrimary {
      font-size: 6rem; } }
  .headingPrimary--Dark {
    color: #000000; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5; }
  .paragraphWhite {
    color: #FFFFFF; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 2.8rem;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 2rem;
      text-align: center; } }

.uContentWrapper {
  max-width: 1540px;
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .uContentWrapper {
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto !important; } }

.uText--Center {
  text-align: center !important; }

.uMarginBottom--Small {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .uMarginBottom--Small {
      margin-bottom: 2rem; } }

.uMarginBottom--Medium {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .uMarginBottom--Medium {
      margin-bottom: 4rem; } }

.uMarginBottom--Big {
  margin-bottom: 6rem; }

.uMarginBottom--Mobile {
  margin-bottom: 1.5rem; }

.uOpacity {
  opacity: 1; }
  .uOpacity--Medium {
    opacity: .7; }
  .uOpacity--Small {
    opacity: .5; }

.uLineTop {
  width: 200px;
  height: 1px;
  border-top: 1px solid #FFFFFF; }
  .uLineTop--Dark {
    border-top: 1px solid #2D2640; }
  @media only screen and (max-width: 56.25em) {
    .uLineTop {
      display: none; } }
  @media only screen and (max-width: 56.25em) {
    .uLineTop--Mobile {
      display: block;
      margin: 4rem auto; } }

.uButton {
  border: 1px solid #2D2640;
  color: #2D2640;
  font-weight: 600;
  padding: 12px 40px;
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all .35s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .uButton {
      font-size: 2rem;
      padding: 16px 60px; } }
  @media only screen and (max-width: 37.5em) {
    .uButton {
      font-size: 1.6rem;
      padding: 14px 40px; } }
  .uButton:hover {
    color: #FFFFFF;
    background-color: #2D2640;
    cursor: pointer; }
  .uButton:active, .uButton:focus {
    outline: none; }
  .uButton--White {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }
    .uButton--White:hover {
      color: #2D2640;
      background-color: #FFFFFF; }

.uNoScroll {
  overflow: hidden; }

.homepageHeader {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #2D2640;
  position: relative; }
  .homepageHeader:after {
    content: url("../images/bg-pattern-intro-right-desktop.svg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeader:after {
        content: url("../images/bg-pattern-intro-right-mobile.svg");
        top: 80%;
        z-index: 9; } }
  .homepageHeader:before {
    content: url("../images/bg-pattern-intro-left-desktop.svg");
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 9; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeader:before {
        display: none; } }
  .homepageHeaderWrapper {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    background-color: #2D2640;
    padding: 10rem 0; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeaderWrapper {
        flex-direction: column-reverse;
        padding: 0; } }
  .homepageHeaderContent {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeaderContent {
        width: 100%;
        align-items: center;
        padding: 10rem 16rem; } }
    @media only screen and (max-width: 37.5em) {
      .homepageHeaderContent {
        padding: 10rem 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .homepageHeaderContent:before {
        content: url("../images/bg-pattern-intro-left-mobile.svg");
        top: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9; } }
  .homepageHeaderBtn {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 26px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeaderBtn {
        font-size: 2rem; } }
  .homepageHeaderImage {
    width: 50%;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .homepageHeaderImage {
        width: 100%; } }
    .homepageHeaderImage img {
      position: absolute;
      right: 0;
      z-index: 8;
      max-width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .homepageHeaderImage img {
          position: static;
          width: 100%; } }

.homepageCards {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #FFFFFF;
  position: relative;
  padding: 20rem 0 5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .homepageCards {
      padding: 10rem 0 4rem 0; } }
  .homepageCardsWrapper {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .homepageCardsWrapper {
        flex-direction: column; } }
  .homepageCardsItem {
    padding-right: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .homepageCardsItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 16rem;
        margin-bottom: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .homepageCardsItem {
        padding: 0 4rem; } }
    .homepageCardsItem h3 {
      font-size: 2.4rem;
      font-family: 'DM Serif Display', serif;
      letter-spacing: -1px;
      color: #000000;
      font-weight: 700;
      display: block;
      line-height: .80; }
      @media only screen and (max-width: 37.5em) {
        .homepageCardsItem h3 {
          font-size: 3.4rem;
          text-align: center; } }
      @media only screen and (max-width: 56.25em) {
        .homepageCardsItem h3 {
          font-size: 4rem;
          text-align: center; } }

.homepageCta {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #FFFFFF;
  position: relative;
  padding: 5rem 0 5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .homepageCta {
      justify-content: center;
      padding: 0; } }
  .homepageCtaWrapper {
    background-color: #2D2640;
    width: 100%;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .homepageCtaWrapper {
        flex-direction: column;
        width: 90%;
        margin: 0 auto; } }
  .homepageCtaLeft {
    width: 50%;
    padding: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .homepageCtaLeft {
        width: 100%;
        display: flex;
        padding: 10rem 6rem 2rem 6rem;
        position: relative;
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .homepageCtaLeft {
        padding: 10rem 3rem 4rem 3rem; } }
    .homepageCtaLeft h2 {
      font-size: 4.4rem;
      font-family: 'DM Serif Display', serif;
      letter-spacing: -1px;
      color: #FFFFFF;
      font-weight: 700;
      display: block;
      line-height: .88; }
      @media only screen and (max-width: 56.25em) {
        .homepageCtaLeft h2 {
          line-height: 1;
          text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .homepageCtaLeft:before {
        content: url("../images/bg-pattern-how-we-work-mobile.svg");
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99; } }
  .homepageCtaRight {
    width: 50%;
    padding: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url("../images/bg-pattern-how-we-work-desktop.svg") no-repeat;
    background-size: auto 100%;
    background-position: right; }
    @media only screen and (max-width: 56.25em) {
      .homepageCtaRight {
        width: 100%;
        background: none;
        padding: 4rem 0 10rem 0;
        justify-content: center; } }

.homepageFooter {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #FAFAFA;
  margin-top: 5rem;
  position: relative;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat; }
  @media only screen and (max-width: 56.25em) {
    .homepageFooter {
      background-image: url("../images/bg-pattern-footer-mobile.svg");
      background-repeat: no-repeat;
      background-size: contain; } }
  .homepageFooterHeader {
    display: flex;
    padding: 6rem 0 3rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    z-index: 2; }
    @media only screen and (max-width: 56.25em) {
      .homepageFooterHeader {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 12rem 0 6rem 0; } }
  .homepageFooterLogo {
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .homepageFooterLogo {
        width: 100%;
        display: flex;
        justify-content: center; } }
  .homepageFooterSocial {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    @media only screen and (max-width: 56.25em) {
      .homepageFooterSocial {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem; } }
    .homepageFooterSocial svg {
      margin-right: 1.5rem;
      transition: all .35s ease-in-out;
      fill: #837D88; }
      .homepageFooterSocial svg:hover {
        fill: #000000;
        cursor: pointer; }
      .homepageFooterSocial svg:last-child {
        margin-right: 0; }
  .homepageFooterNavigation {
    display: flex;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .homepageFooterNavigation {
        flex-direction: column; } }

.navigationCard {
  width: 25%;
  padding: 4rem 0; }
  @media only screen and (max-width: 56.25em) {
    .navigationCard {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0 0 3rem 0; } }
  .navigationCard:first-child {
    padding-top: 4rem; }
  .navigationCard ul {
    list-style-type: none; }
    .navigationCard ul li {
      color: #2D2640;
      font-size: 1.1rem;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 1px;
      line-height: 2.2;
      text-transform: uppercase; }
      @media only screen and (max-width: 56.25em) {
        .navigationCard ul li {
          font-size: 1.6rem; } }
      .navigationCard ul li:not(:first-child) span {
        display: inline-block;
        position: relative; }
        .navigationCard ul li:not(:first-child) span::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 4px;
          left: 0;
          background-color: #000000;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.35s ease-in-out; }
        .navigationCard ul li:not(:first-child) span:hover::before {
          transform: scaleX(1);
          visibility: visible; }
      .navigationCard ul li:first-child {
        margin-bottom: 3rem;
        color: #837D87; }
        .navigationCard ul li:first-child:hover {
          text-decoration: none;
          cursor: default; }
      .navigationCard ul li:hover {
        text-decoration: underline; }

.mainNavigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .mainNavigation {
      z-index: 99;
      height: 8rem;
      background-color: #FFFFFF; } }
  .mainNavigationLogo {
    min-width: 250px;
    width: 250px;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .mainNavigationLogo {
        position: absolute;
        top: 3rem;
        left: 3rem; } }
  .mainNavigationWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .mainNavigationWrapper {
        height: 100%;
        flex-direction: column; } }
  .mainNavigationToggleWrapper {
    position: relative; }
  .mainNavigationCheckbox {
    visibility: hidden; }
  .mainNavigationButton {
    background-color: #FFFFFF;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #000000;
    text-align: center;
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .mainNavigationButton {
        display: block; } }
  .mainNavigationIcon {
    position: relative;
    margin-top: 1.5rem; }
    .mainNavigationIcon, .mainNavigationIcon::before, .mainNavigationIcon::after {
      width: 2rem;
      height: 2px;
      background-color: #000000;
      display: inline-block; }
    .mainNavigationIcon::before, .mainNavigationIcon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .mainNavigationIcon::before {
      top: -.6rem; }
    .mainNavigationIcon::after {
      top: .6rem; }
  .mainNavigationCheckbox:checked ~ .mainNavigationBackground {
    transform: scale(120); }
  .mainNavigationCheckbox:checked ~ .mainNavigationItems {
    opacity: 1;
    width: 100%;
    visibility: visible; }
  .mainNavigationCheckbox:checked + .mainNavigationButton .mainNavigationIcon::before {
    top: 0;
    transform: rotate(135deg); }
  .mainNavigationCheckbox:checked + .mainNavigationButton .mainNavigationIcon::after {
    top: 0;
    transform: rotate(-135deg); }
  .mainNavigationCheckbox:checked + .mainNavigationButton .mainNavigationIcon {
    background-color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .mainNavigationItems {
      position: absolute;
      top: 8rem;
      background: #2b272f;
      height: calc(100vh - 8rem);
      width: 100%;
      flex-direction: column;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain; } }
  .mainNavigationItems ul {
    display: flex;
    list-style-type: none;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .mainNavigationItems ul {
        flex-direction: column;
        height: 100vh; } }
    .mainNavigationItems ul li {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: .5px;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      padding: 20px;
      position: relative;
      cursor: pointer;
      letter-spacing: 1px; }
      @media only screen and (max-width: 56.25em) {
        .mainNavigationItems ul li {
          font-size: 2.4rem;
          letter-spacing: 1.3px;
          line-height: 2;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .mainNavigationItems ul li:first-child {
            padding-top: 40px; } }
      .mainNavigationItems ul li:last-child {
        padding-right: 0; }
        @media only screen and (max-width: 56.25em) {
          .mainNavigationItems ul li:last-child {
            padding: 2rem 3.5rem; } }
      .mainNavigationItems ul li a {
        text-decoration: none;
        color: #837D87;
        transition: color .5s ease-in-out; }
        @media only screen and (max-width: 56.25em) {
          .mainNavigationItems ul li a {
            color: #FFFFFF; } }
        .mainNavigationItems ul li a:hover {
          color: #2D2640; }
          @media only screen and (max-width: 56.25em) {
            .mainNavigationItems ul li a:hover {
              color: #FFFFFF; } }
  .mainNavigationCTA {
    border: 1px solid #2D2640;
    color: #2D2640;
    font-weight: 600;
    padding: 10px 26px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all .35s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .mainNavigationCTA {
        font-size: 2.4rem;
        border: 1px solid #FFFFFF;
        padding: 2.5rem 0;
        width: 100%;
        background: transparent;
        color: #FFFFFF; } }
    .mainNavigationCTA:hover {
      color: #FFFFFF;
      background-color: #2D2640;
      cursor: pointer; }
    .mainNavigationCTA:active, .mainNavigationCTA:focus {
      outline: none; }
    .mainNavigationCTA--White {
      background-color: transparent;
      border: 1px solid #FFFFFF;
      color: #FFFFFF; }
      .mainNavigationCTA--White:hover {
        color: #2D2640;
        background-color: #FFFFFF; }

.logoHeader {
  width: 190px; }

.container {
  max-width: 128rem;
  margin: 8rem auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
