//COLORS
$color-grey: #837D87;
$color-primary: #2D2640;
$color-white: #FFFFFF;
$color-black: #000000;


// FONT


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
