 // https://www.frontendmentor.io/challenges/insure-landing-page-uTU68JV8/intro

 .homepageHeader {

    width: 100%;
    height: auto;
    display: flex;
    background-color: $colorPrimary;
    position: relative;

    &:after {
        content: url('../images/bg-pattern-intro-right-desktop.svg');
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;

        @include respond(tab-port) {
            content: url('../images/bg-pattern-intro-right-mobile.svg');
            top: 80%;
            z-index: 9;
        }

    }

    &:before {
        content: url('../images/bg-pattern-intro-left-desktop.svg');
        position: absolute;
        top: 70%;
        left: 0;
        z-index: 9;

        @include respond(tab-port) {
             display: none;
        }

    }

    &Wrapper {
        width: 100%;
        background-color: $colorWhite;
        display: flex;
        background-color: $colorPrimary;
        padding: 10rem 0;

        @include respond(tab-port) {
            flex-direction: column-reverse;
            padding: 0;
        }

    }

    &Content {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 4rem;

        @include respond(tab-port) {
            width: 100%;
            align-items: center;
            padding: 10rem 16rem;
            
        }

        @include respond(phone) {
            padding: 10rem 3rem;            
        }

        &:before {
   
            @include respond(tab-port) {
                content: url('../images/bg-pattern-intro-left-mobile.svg');
                top: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;
            }    
        }


    }

    &Btn{
        border: 1px solid $colorWhite;
        color: $colorWhite;
        font-weight: 600;
        padding: 10px 26px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transition: all .5s ease-in-out;
        text-decoration: none;

        @include respond(tab-port) {
            font-size: 2rem;
        }
        
    }

    &Image {
        width: 50%;
        //padding: 8rem 2rem 8rem 0;
        position: relative;

        @include respond(tab-port) {
            width: 100%;
        }



        & img {
            position: absolute;
            right: 0;
            z-index: 8;
            max-width: 100%;

            @include respond(tab-port) {
                position: static;
                width: 100%;
            }
        }
    }

 }