.homepageCards {

    width: 100%;
    height: auto;
    display: flex;
    background-color: $colorWhite;
    position: relative;
    padding: 20rem 0 5rem 0;

    @include respond(tab-port) {
        padding: 10rem 0 4rem 0;
    }

    &Wrapper {
        width: 100%;
        padding: 4rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &Item {
        padding-right: 10rem;

        // TODO why margin AND padding???

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 0 16rem;
            margin-bottom: 6rem; //TODO check 
        }

        @include respond(phone) {
            padding: 0 4rem;
        }

        & h3 {
            font-size: 2.4rem;
            font-family: 'DM Serif Display', serif;
            letter-spacing: -1px;
            color: $colorBlack;
            font-weight: 700;
            display: block;
            line-height: .80;

            @include respond(phone) {
                font-size: 3.4rem; // TODO check font sizes
                text-align: center;
            }

            @include respond(tab-port) {
                font-size: 4rem; // TODO check font sizes
                text-align: center;
            }
        }

    }

}