.mainNavigation {

    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    //TODO CHECK THIS
    @include respond(tab-port) {
        z-index: 99;
        height: 8rem;
        background-color: $colorWhite;
    }

    &Logo{
        min-width:250px;
        width: 250px;
        display: flex;
        align-items: center;

        @include respond(tab-port) {
            position: absolute;
            top: 3rem;
            left: 3rem;
        }
    }

    &Wrapper {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;

        @include respond(tab-port) {
            height: 100%;
            flex-direction: column;
        }

    }

    &ToggleWrapper {
        position: relative;
    }

    &Checkbox {
        display: none
    }

    &Button {
        background-color: $colorWhite;
        width: 3.5rem;
        height: 3.5rem;
        border: 2px solid $colorBlack;
        text-align: center;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    &Icon {
        position:relative;
        margin-top: 1.5rem;

        &, &::before, &::after{
            width: 2rem;
            height: 2px;
            background-color: $colorBlack;
            display: inline-block;
        }

        &::before, &::after {
            content:"";
            position: absolute;
            left:0;
            transition: all .2s;
        }

        &::before {
            top:-.6rem;            
        }

        &::after {
            top: .6rem;
        }
    }

    &Checkbox:checked ~ &Background {
        transform: scale(120);
    }

    &Checkbox:checked ~ &Items {
        opacity: 1;
        width:100%;
        visibility: visible;
    }

    &Checkbox:checked + &Button &Icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &Checkbox:checked + &Button &Icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &Checkbox:checked + &Button &Icon {
        background-color: transparent;
    }

    &Items {        

        //TODO CHECK THIS
        @include respond(tab-port) {
            position: absolute;
            top: 8rem; //TODO HEIGHT OF mainNavigation
            background: $darkViolet;
            height: calc(100vh - 8rem);
            width: 100%;
            flex-direction: column;
            //pointer-events: none;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            background-image: url('../images/bg-pattern-mobile-nav.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
        }

        & ul {
            display: flex;
            list-style-type: none;
            align-items: center;

            //TODO CHECK THIS
            @include respond(tab-port) {
                flex-direction: column;
                height: 100vh;
            }

            & li {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: .5px;
                text-align: center;
                margin: 0;
                text-transform: uppercase;
                padding: 20px;
                position: relative;
                cursor: pointer;
                letter-spacing: 1px;

 
                @include respond(tab-port) {

                    &:first-child{
                        padding-top: 40px;
                    }

                    font-size: 2.4rem;
                    letter-spacing: 1.3px;
                    line-height: 2;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:last-child {
                    padding-right: 0;

                    @include respond(tab-port) {
                        padding: 2rem 3.5rem;
                    }

                }

                & a {
                    text-decoration: none;
                    color: $colorGrey;
                    transition: color .5s ease-in-out;

                    @include respond(tab-port) {
                        color: $colorWhite;
                    }

                    &:hover {
                        color: $colorPrimary;

                        @include respond(tab-port) {
                            color: $colorWhite;
                        }
                    }
                }

            }
        }    

    }

    &CTA {
        border: 1px solid $colorPrimary;
        color: $colorPrimary;
        font-weight: 600;
        padding: 10px 26px;
        background-color: $colorWhite;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 1px;
        transition: all .35s ease-in-out;

        @include respond(tab-port) {
            font-size: 2.4rem;
            border: 1px solid $colorWhite;
            padding: 2.5rem 0;
            width: 100%;
            background: transparent;
            color: $colorWhite;
        }
    
        &:hover {
            color: $colorWhite;
            background-color: $colorPrimary;
            cursor: pointer;
        }

        &:active, &:focus {
            outline: none;
        }
    
    
        &--White {
            background-color: transparent;
            border: 1px solid $colorWhite;
            color: $colorWhite;
    
            &:hover {
                color: $colorPrimary;
                background-color: $colorWhite;
            }
        }
    
    
    }


}


.logoHeader {
    width: 190px;
}