@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

p, ul li a {
    font-family: 'Karla';
}

.headingPrimary{
    font-size: 8rem;
    font-family: 'DM Serif Display', serif;
    letter-spacing: -1px;
    color: $colorWhite;
    font-weight: 700;
    display: block;
    line-height: .88;

    @include respond(tab-land) {
        font-size: 6rem; // TODO check font size
    }

    @include respond(tab-port) {
        font-size: 8rem; // TODO check font size
        text-align: center; 
    }

    @include respond(phone) {
        font-size: 6rem; // TODO check font size
    }




    &--Dark {
        color: $colorBlack;
    }
}

.paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;

    &White {
        color: $colorWhite;
    }

    &Grey {
        $color: $colorGrey;
    }

    @include respond(tab-port) {
        font-size: 2.8rem; // TODO check font size - on iphone6 it should be 16px
        text-align: center; 
    }

    @include respond(phone) {
        font-size: 2rem; // TODO check font size - on iphone6 it should be 16px
        text-align: center; 
    }


}